In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")
links = pd.read_csv("links.csv")

C:\Users\biswa\AppData\Local\Temp\ipykernel_22188\2342087069.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv("movies.csv")

In [3]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [5]:
movies.drop_duplicates(inplace=True)

In [6]:
movies.duplicated().sum()

0

In [7]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [8]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [9]:
ratings

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [10]:
print(movies.shape)
print(ratings.shape)
print(links.shape)

(45453, 24)
(26024289, 4)
(45843, 3)

In [11]:
movies.rename(columns={'id':'movieId'}, inplace=True)

In [12]:
movies = movies[['movieId','imdb_id','title','vote_average','vote_count','poster_path']]
movies.head()

,movieId,imdb_id,title,vote_average,vote_count,poster_path
0,862,tt0114709,Toy Story,7.7,5415.0,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1,8844,tt0113497,Jumanji,6.9,2413.0,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2,15602,tt0113228,Grumpier Old Men,6.5,92.0,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3,31357,tt0114885,Waiting to Exhale,6.1,34.0,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4,11862,tt0113041,Father of the Bride Part II,5.7,173.0,/e64sOI48hQXyru7naBFyssKFxVd.jpg

In [13]:
check = ratings.merge(links, on='movieId')
check.head()

   userId  movieId  rating   timestamp  imdbId   tmdbId
0       1      110     1.0  1425941529  112573    197.0
1       1      147     4.5  1425942435  112461  10474.0
2       1      858     5.0  1425941523   68646    238.0
3       1     1221     5.0  1425941546   71562    240.0
4       1     1246     5.0  1425941556   97165    207.0

In [14]:
movies = movies[movies['movieId'] != '2014-01-01']
movies = movies[movies['movieId'] != '1997-08-20']
movies = movies[movies['movieId'] != '2012-09-29']

In [15]:
movies['movieId']=movies['movieId'].astype(int)

In [16]:
rating_by_name = movies.merge(ratings, on='movieId')
rating_by_name.drop(['vote_average','vote_count'], axis=1, inplace=True)
rating_by_name

,movieId,imdb_id,title,poster_path,userId,rating,timestamp
0,862,tt0114709,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1923,3.0,858335006
1,862,tt0114709,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,2103,5.0,946044912
2,862,tt0114709,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,5380,1.0,878941641
3,862,tt0114709,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,6177,4.0,859415226
4,862,tt0114709,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,6525,4.0,857388995
...,...,...,...,...,...,...,...
11437599,111109,tt2028550,Century of Birthing,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,33940,2.5,1405878785
11437600,111109,tt2028550,Century of Birthing,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,172224,3.0,1399502972
11437601,111109,tt2028550,Century of Birthing,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,210792,3.0,1467090449
11437602,111109,tt2028550,Century of Birthing,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,225396,3.5,1399302912
11437603,111109,tt2028550,Century of Birthing,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,269593,0.5,1471835519

In [17]:
x = rating_by_name.groupby('userId').count()['rating'] > 100
good_users = x[x].index

In [18]:
mid_df = rating_by_name[rating_by_name['userId'].isin(good_users)]
mid_df.shape

(6061785, 7)

In [19]:
y = mid_df.groupby('title').count()['rating']>25
good_movies = y[y].index

In [20]:
final_df = mid_df[mid_df['title'].isin(good_movies)]

In [21]:
final_movies = final_df.drop(['timestamp'], axis=1)

In [22]:
final_movies.head()

,movieId,imdb_id,title,poster_path,userId,rating
1,862,tt0114709,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,2103,5.0
2,862,tt0114709,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,5380,1.0
4,862,tt0114709,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,6525,4.0
5,862,tt0114709,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,7050,3.0
6,862,tt0114709,Toy Story,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,7238,3.0

In [23]:
movies_pivot = final_movies.pivot_table(index='title', columns='userId', values='rating')
movies_pivot

userId,12,24,34,43,46,49,62,65,68,98,...,270795,270807,270828,270850,270857,270859,270871,270879,270887,270896
title,,,,,,,,,,,,,,,,,,,,,
!Women Art Revolution,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$5 a Day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Gator Bait,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
'R Xmas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Twas the Night Before Christmas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ã…ke and His World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ã†on Flux,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ã–dipussi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Åžaban OÄŸlu Åžaban,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Å Ã­lenÄ› smutnÃ¡ princezna,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
movies_pivot.fillna(0,inplace=True)

In [25]:
movies_pivot.head(150)

userId,12,24,34,43,46,49,62,65,68,98,...,270795,270807,270828,270850,270857,270859,270871,270879,270887,270896
title,,,,,,,,,,,,,,,,,,,,,
!Women Art Revolution,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
$5 a Day,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Gator Bait,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
'R Xmas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Twas the Night Before Christmas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Adrenalin: Fear the Rush,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Adventures Of A Taxi Driver,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
Adventures of ZatÃ´ichi,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
Ae Fond Kiss...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
Aelita: Queen of Mars,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
from sklearn.metrics.pairwise import cosine_similarity

In [27]:
similarity_mat = cosine_similarity(movies_pivot)

In [28]:
similarity_mat.shape

(4082, 4082)

In [29]:
#array
similarity_mat

array([[1.        , 0.03899957, 0.06236791, ..., 0.01044657, 0.00576362,
        0.03194844],
       [0.03899957, 1.        , 0.0287201 , ..., 0.02585628, 0.00141169,
        0.12074905],
       [0.06236791, 0.0287201 , 1.        , ..., 0.01981731, 0.03787522,
        0.03983183],
       ...,
       [0.01044657, 0.02585628, 0.01981731, ..., 1.        , 0.1207763 ,
        0.02264833],
       [0.00576362, 0.00141169, 0.03787522, ..., 0.1207763 , 1.        ,
        0.00726786],
       [0.03194844, 0.12074905, 0.03983183, ..., 0.02264833, 0.00726786,
        1.        ]])

##FUNCTION TO RECOMMEND 6 MOVIES

In [30]:
import numpy as np
def recommend(movie_name):
    index = np.where(movies_pivot.index == movie_name)[0][0]
    recommends = sorted(list(enumerate(similarity_mat[index])), key=lambda x:x[1], reverse=True)[1:6]
    data=[]
    for i in recommends:
        l=[]
        m = movies[movies['title'] == movies_pivot.index[i[0]]]
        # print(m.drop_duplicates('title')['title'].values)
        l.extend(list(m.drop_duplicates('title')['title'].values))
        l.extend(list(m.drop_duplicates('title')['movieId'].values))
        l.extend(list(m.drop_duplicates('title')['imdb_id'].values))
        l.extend(list(m.drop_duplicates('title')['poster_path'].values))
        data.append(l)
    print(data)

In [31]:
recommend('Top Gun')

[['M*A*S*H', 651, 'tt0066026', '/eOslMOtaPXgQEgVJ93U3KOLogGD.jpg'], ['Ghostbusters', 620, 'tt0087332', '/3FS3oBdorgczgfCkFi2u8ZTFfpS.jpg'], ['K-PAX', 167, 'tt0272152', '/pCZxl9Si7i46nduSqUSzFdHYiEO.jpg'], ['Easy Rider', 624, 'tt0064276', '/e3jHM20jbKZbXYjRwmfQOJ0VnzP.jpg'], ['Workers Leaving the LumiÃ¨re Factory', 774, 'tt0000010', '/zwaMUm6cxmbMIUziIhkqyIoi2LO.jpg']]

In [32]:
movies_pivot.index[3789]

'Toy Story'

In [33]:
movies[movies['title'] == 'Toy Story']

,movieId,imdb_id,title,vote_average,vote_count,poster_path
0,862,tt0114709,Toy Story,7.7,5415.0,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg

In [34]:
ratings[ratings['movieId'] == 862].count()

userId       374
movieId      374
rating       374
timestamp    374
dtype: int64

In [35]:
import pickle

In [36]:
movies.duplicated().sum()
movies.drop_duplicates('title')

,movieId,imdb_id,title,vote_average,vote_count,poster_path
0,862,tt0114709,Toy Story,7.7,5415.0,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1,8844,tt0113497,Jumanji,6.9,2413.0,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2,15602,tt0113228,Grumpier Old Men,6.5,92.0,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3,31357,tt0114885,Waiting to Exhale,6.1,34.0,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4,11862,tt0113041,Father of the Bride Part II,5.7,173.0,/e64sOI48hQXyru7naBFyssKFxVd.jpg
...,...,...,...,...,...,...
45459,222848,tt0112613,Caged Heat 3000,3.5,1.0,/4lF9LH0b0Z1X94xGK9IOzqEW6k1.jpg
45461,439050,tt6209470,Subdue,4.0,1.0,/jldsYflnId4tTWPx8es3uzsB1I8.jpg
45462,111109,tt2028550,Century of Birthing,9.0,3.0,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg
45464,227506,tt0008536,Satan Triumphant,0.0,0.0,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg
45465,461257,tt6980792,Queerama,0.0,0.0,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg

In [37]:
pickle.dump(movies_pivot, open('movies_pivot.pkl','wb'))
pickle.dump(movies, open('movies.pkl','wb'))
pickle.dump(similarity_mat, open('similarity_mat.pkl','wb'))

In [38]:
movies[movies['title']=='Madagascar']

,movieId,imdb_id,title,vote_average,vote_count,poster_path
10089,953,tt0351283,Madagascar,6.6,3322.0,/2YiESGB68BGQSAFvfJxBi774sc4.jpg
20299,62403,tt1842793,Madagascar,8.6,4.0,/kR2NzLQspU8HATvvd44wyeoixYD.jpg